name: "CI"
on:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/lint@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Pre-commit
        uses: ./

  test-only-changed:
    name: Test / Only changed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Pre-commit
        uses: ./
        with:
          only-changed: true

  test-pre-installed:
    name: Test / Pre-commit exists
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install pre-commit
        run: |
          # Install pre-commit
          pip install pre-commit
      - name: Pre-commit
        uses: ./

  test-commitlint:
    name: Test / Commitlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Commitlint
        uses: ./commitlint

  # test-oss tries to run pre-commit against open source repositories not in
  # open-turo to make sure this is usable outside the org.
  # Repositories added to this list should have pre-commit hooks that don't
  # require external tooling to be installed.
  # Repositories added to this list must have passing pre-commit hooks.
  test-oss:
    name: Test / Open source
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repos:
          - toml-lang/toml
          - pre-commit/pre-commit
          - actions/starter-workflows
          - python/peps
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ matrix.repos }}
      - uses: actions/checkout@v6
        with:
          path: this
      - name: Pre-commit
        uses: ./this
