name: "CI"
on:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/lint@v2

  # test action works running from the graph
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Pre-commit
        uses: ./

  test-pre-installed:
    name: Test / Pre-commit exists
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version-file: ".python-version"
      - name: Install pre-commit
        run: |
          # Install pre-commit
          pip install pre-commit
      - name: Pre-commit
        uses: ./
