name: Release

on:
  push:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/lint@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Pre-commit
        uses: ./

  release:
    needs:
      - lint
      - test
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
